<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzl.dge.oex.mapper.CatalogMapper">
    
    <resultMap type="Catalog" id="CatalogResult">
        <result property="iD"    column="ID"    />
        <result property="nAME"    column="NAME"    />
        <result property="parentId"    column="PARENT_ID"    />
        <result property="parentSub"    column="PARENT_SUB"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>
	
	<sql id="selectCatalogVo">
        select ID, NAME, PARENT_ID, PARENT_SUB, status, create_by, create_time, update_by, update_time, remark from oex_catalog
    </sql>
	
    <select id="selectCatalogList" parameterType="Catalog" resultMap="CatalogResult">
        <include refid="selectCatalogVo"/>
        <where>  
            <if test="iD != null "> and ID = #{iD}</if>
             <if test="nAME != null  and nAME != '' "> and NAME = #{nAME}</if>
             <if test="parentId != null "> and PARENT_ID = #{parentId}</if>
             <if test="parentSub != null  and parentSub != '' "> and PARENT_SUB = #{parentSub}</if>
             <if test="status != null  and status != '' "> and status = #{status}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
         </where>
    </select>
    
    <select id="selectCatalogById" parameterType="Long" resultMap="CatalogResult">
        <include refid="selectCatalogVo"/>
        where ID = #{iD}
    </select>
        
    <insert id="insertCatalog" parameterType="Catalog">
        insert into oex_catalog
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="iD != null  ">ID,</if>
			<if test="nAME != null  and nAME != ''  ">NAME,</if>
			<if test="parentId != null  ">PARENT_ID,</if>
			<if test="parentSub != null  and parentSub != ''  ">PARENT_SUB,</if>
			<if test="status != null  and status != ''  ">status,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateBy != null  and updateBy != ''  ">update_by,</if>
			<if test="updateTime != null  ">update_time,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="iD != null  ">#{iD},</if>
			<if test="nAME != null  and nAME != ''  ">#{nAME},</if>
			<if test="parentId != null  ">#{parentId},</if>
			<if test="parentSub != null  and parentSub != ''  ">#{parentSub},</if>
			<if test="status != null  and status != ''  ">#{status},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
         </trim>
    </insert>
	 
    <update id="updateCatalog" parameterType="Catalog">
        update oex_catalog
        <trim prefix="SET" suffixOverrides=",">
            <if test="nAME != null  and nAME != ''  ">NAME = #{nAME},</if>
            <if test="parentId != null  ">PARENT_ID = #{parentId},</if>
            <if test="parentSub != null  and parentSub != ''  ">PARENT_SUB = #{parentSub},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
        </trim>
        where ID = #{iD}
    </update>

	<delete id="deleteCatalogById" parameterType="Long">
        delete from oex_catalog where ID = #{iD}
    </delete>
	
    <delete id="deleteCatalogByIds" parameterType="String">
        delete from oex_catalog where ID in 
        <foreach item="iD" collection="array" open="(" separator="," close=")">
            #{iD}
        </foreach>
    </delete>
    
</mapper>