<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzl.dge.oex.mapper.QuestionMapper">
    
    <resultMap type="Question" id="QuestionResult">
        <result property="id"    column="id"    />
        <result property="qtypeId"    column="qtype_id"    />
        <result property="difficulty"    column="difficulty"    />
        <result property="title"    column="title"    />
        <result property="optionA"    column="option_a"    />
        <result property="optionB"    column="option_b"    />
        <result property="optionC"    column="option_c"    />
        <result property="optionD"    column="option_d"    />
        <result property="optionE"    column="option_e"    />
        <result property="optionF"    column="option_f"    />
        <result property="optionG"    column="option_g"    />
        <result property="answer"    column="answer"    />
        <result property="analysis"    column="analysis"    />
        <result property="paperId"    column="paper_id"    />
        <result property="seq"    column="seq"    />
        <result property="score"    column="score"    />
        <result property="descpt"    column="descpt"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>
	
	<sql id="selectQuestionVo">
        select id, qtype_id, difficulty, title, option_a, option_b, option_c, option_d, option_e, option_f, option_g, answer, analysis, paper_id, seq, score, descpt, status, create_by, create_time, update_by, update_time, remark from oex_question
    </sql>
	
    <select id="selectQuestionList" parameterType="Question" resultMap="QuestionResult">
        <include refid="selectQuestionVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="qtypeId != null "> and qtype_id = #{qtypeId}</if>
             <if test="difficulty != null "> and difficulty = #{difficulty}</if>
             <if test="title != null  and title != '' "> and title = #{title}</if>
             <if test="optionA != null  and optionA != '' "> and option_a = #{optionA}</if>
             <if test="optionB != null  and optionB != '' "> and option_b = #{optionB}</if>
             <if test="optionC != null  and optionC != '' "> and option_c = #{optionC}</if>
             <if test="optionD != null  and optionD != '' "> and option_d = #{optionD}</if>
             <if test="optionE != null  and optionE != '' "> and option_e = #{optionE}</if>
             <if test="optionF != null  and optionF != '' "> and option_f = #{optionF}</if>
             <if test="optionG != null  and optionG != '' "> and option_g = #{optionG}</if>
             <if test="answer != null  and answer != '' "> and answer = #{answer}</if>
             <if test="analysis != null  and analysis != '' "> and analysis = #{analysis}</if>
             <if test="paperId != null "> and paper_id = #{paperId}</if>
             <if test="seq != null "> and seq = #{seq}</if>
             <if test="score != null "> and score = #{score}</if>
             <if test="descpt != null  and descpt != '' "> and descpt = #{descpt}</if>
             <if test="status != null  and status != '' "> and status = #{status}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
         </where>
    </select>
    
    <select id="selectQuestionById" parameterType="Long" resultMap="QuestionResult">
        <include refid="selectQuestionVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertQuestion" parameterType="Question">
        insert into oex_question
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="qtypeId != null  ">qtype_id,</if>
			<if test="difficulty != null  ">difficulty,</if>
			<if test="title != null  and title != ''  ">title,</if>
			<if test="optionA != null  and optionA != ''  ">option_a,</if>
			<if test="optionB != null  and optionB != ''  ">option_b,</if>
			<if test="optionC != null  and optionC != ''  ">option_c,</if>
			<if test="optionD != null  and optionD != ''  ">option_d,</if>
			<if test="optionE != null  and optionE != ''  ">option_e,</if>
			<if test="optionF != null  and optionF != ''  ">option_f,</if>
			<if test="optionG != null  and optionG != ''  ">option_g,</if>
			<if test="answer != null  and answer != ''  ">answer,</if>
			<if test="analysis != null  and analysis != ''  ">analysis,</if>
			<if test="paperId != null  ">paper_id,</if>
			<if test="seq != null  ">seq,</if>
			<if test="score != null  ">score,</if>
			<if test="descpt != null  and descpt != ''  ">descpt,</if>
			<if test="status != null  and status != ''  ">status,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateBy != null  and updateBy != ''  ">update_by,</if>
			<if test="updateTime != null  ">update_time,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="qtypeId != null  ">#{qtypeId},</if>
			<if test="difficulty != null  ">#{difficulty},</if>
			<if test="title != null  and title != ''  ">#{title},</if>
			<if test="optionA != null  and optionA != ''  ">#{optionA},</if>
			<if test="optionB != null  and optionB != ''  ">#{optionB},</if>
			<if test="optionC != null  and optionC != ''  ">#{optionC},</if>
			<if test="optionD != null  and optionD != ''  ">#{optionD},</if>
			<if test="optionE != null  and optionE != ''  ">#{optionE},</if>
			<if test="optionF != null  and optionF != ''  ">#{optionF},</if>
			<if test="optionG != null  and optionG != ''  ">#{optionG},</if>
			<if test="answer != null  and answer != ''  ">#{answer},</if>
			<if test="analysis != null  and analysis != ''  ">#{analysis},</if>
			<if test="paperId != null  ">#{paperId},</if>
			<if test="seq != null  ">#{seq},</if>
			<if test="score != null  ">#{score},</if>
			<if test="descpt != null  and descpt != ''  ">#{descpt},</if>
			<if test="status != null  and status != ''  ">#{status},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
         </trim>
    </insert>
	 
    <update id="updateQuestion" parameterType="Question">
        update oex_question
        <trim prefix="SET" suffixOverrides=",">
            <if test="qtypeId != null  ">qtype_id = #{qtypeId},</if>
            <if test="difficulty != null  ">difficulty = #{difficulty},</if>
            <if test="title != null  and title != ''  ">title = #{title},</if>
            <if test="optionA != null  and optionA != ''  ">option_a = #{optionA},</if>
            <if test="optionB != null  and optionB != ''  ">option_b = #{optionB},</if>
            <if test="optionC != null  and optionC != ''  ">option_c = #{optionC},</if>
            <if test="optionD != null  and optionD != ''  ">option_d = #{optionD},</if>
            <if test="optionE != null  and optionE != ''  ">option_e = #{optionE},</if>
            <if test="optionF != null  and optionF != ''  ">option_f = #{optionF},</if>
            <if test="optionG != null  and optionG != ''  ">option_g = #{optionG},</if>
            <if test="answer != null  and answer != ''  ">answer = #{answer},</if>
            <if test="analysis != null  and analysis != ''  ">analysis = #{analysis},</if>
            <if test="paperId != null  ">paper_id = #{paperId},</if>
            <if test="seq != null  ">seq = #{seq},</if>
            <if test="score != null  ">score = #{score},</if>
            <if test="descpt != null  and descpt != ''  ">descpt = #{descpt},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteQuestionById" parameterType="Long">
        delete from oex_question where id = #{id}
    </delete>
	
    <delete id="deleteQuestionByIds" parameterType="String">
        delete from oex_question where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>