<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzl.dge.oex.mapper.UserReceiveMapper">
    
    <resultMap type="UserReceive" id="UserReceiveResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="contact"    column="contact"    />
        <result property="tel"    column="tel"    />
        <result property="receiveProvince"    column="receive_province"    />
        <result property="receiveCity"    column="receive_city"    />
        <result property="receiveCounty"    column="receive_county"    />
        <result property="receiveAddress"    column="receive_address"    />
        <result property="isDefault"    column="isDefault"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>
	
	<sql id="selectUserReceiveVo">
        select id, user_id, contact, tel, receive_province, receive_city, receive_county, receive_address, isDefault, status, create_by, create_time, update_by, update_time, remark from oex_user_receive
    </sql>
	
    <select id="selectUserReceiveList" parameterType="UserReceive" resultMap="UserReceiveResult">
        <include refid="selectUserReceiveVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="userId != null "> and user_id = #{userId}</if>
             <if test="contact != null  and contact != '' "> and contact = #{contact}</if>
             <if test="tel != null  and tel != '' "> and tel = #{tel}</if>
             <if test="receiveProvince != null  and receiveProvince != '' "> and receive_province = #{receiveProvince}</if>
             <if test="receiveCity != null  and receiveCity != '' "> and receive_city = #{receiveCity}</if>
             <if test="receiveCounty != null  and receiveCounty != '' "> and receive_county = #{receiveCounty}</if>
             <if test="receiveAddress != null  and receiveAddress != '' "> and receive_address = #{receiveAddress}</if>
             <if test="isDefault != null  and isDefault != '' "> and isDefault = #{isDefault}</if>
             <if test="status != null  and status != '' "> and status = #{status}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
         </where>
    </select>
    
    <select id="selectUserReceiveById" parameterType="Long" resultMap="UserReceiveResult">
        <include refid="selectUserReceiveVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertUserReceive" parameterType="UserReceive">
        insert into oex_user_receive
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="userId != null  ">user_id,</if>
			<if test="contact != null  and contact != ''  ">contact,</if>
			<if test="tel != null  and tel != ''  ">tel,</if>
			<if test="receiveProvince != null  and receiveProvince != ''  ">receive_province,</if>
			<if test="receiveCity != null  and receiveCity != ''  ">receive_city,</if>
			<if test="receiveCounty != null  and receiveCounty != ''  ">receive_county,</if>
			<if test="receiveAddress != null  and receiveAddress != ''  ">receive_address,</if>
			<if test="isDefault != null  and isDefault != ''  ">isDefault,</if>
			<if test="status != null  and status != ''  ">status,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateBy != null  and updateBy != ''  ">update_by,</if>
			<if test="updateTime != null  ">update_time,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="userId != null  ">#{userId},</if>
			<if test="contact != null  and contact != ''  ">#{contact},</if>
			<if test="tel != null  and tel != ''  ">#{tel},</if>
			<if test="receiveProvince != null  and receiveProvince != ''  ">#{receiveProvince},</if>
			<if test="receiveCity != null  and receiveCity != ''  ">#{receiveCity},</if>
			<if test="receiveCounty != null  and receiveCounty != ''  ">#{receiveCounty},</if>
			<if test="receiveAddress != null  and receiveAddress != ''  ">#{receiveAddress},</if>
			<if test="isDefault != null  and isDefault != ''  ">#{isDefault},</if>
			<if test="status != null  and status != ''  ">#{status},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
         </trim>
    </insert>
	 
    <update id="updateUserReceive" parameterType="UserReceive">
        update oex_user_receive
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null  ">user_id = #{userId},</if>
            <if test="contact != null  and contact != ''  ">contact = #{contact},</if>
            <if test="tel != null  and tel != ''  ">tel = #{tel},</if>
            <if test="receiveProvince != null  and receiveProvince != ''  ">receive_province = #{receiveProvince},</if>
            <if test="receiveCity != null  and receiveCity != ''  ">receive_city = #{receiveCity},</if>
            <if test="receiveCounty != null  and receiveCounty != ''  ">receive_county = #{receiveCounty},</if>
            <if test="receiveAddress != null  and receiveAddress != ''  ">receive_address = #{receiveAddress},</if>
            <if test="isDefault != null  and isDefault != ''  ">isDefault = #{isDefault},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteUserReceiveById" parameterType="Long">
        delete from oex_user_receive where id = #{id}
    </delete>
	
    <delete id="deleteUserReceiveByIds" parameterType="String">
        delete from oex_user_receive where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>