<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-paperQtype-edit" th:object="${paperQtype}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<input type="hidden" name="paperId" id="paperId" th:field="*{paperId}"/>
			<div class="form-group">	
				<label class="col-sm-3 control-label">题型名称：</label>
				<div class="col-sm-8">
					<input id="name" name="name" class="form-control" type="text" th:field="*{name}" >
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">题型类别：</label>
				<div class="col-sm-8">
					<select name="qtype" class="form-control m-b" style="width: 120px;" th:with="type=${@dict.getType('oex_question_type')}">
	                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:selected="${paperQtype.qtype eq dict.dictValue}"></option>
	                </select>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-3 control-label">分值：</label>
				<div class="col-sm-2">
					<input id="score" name="score" class="form-control" type="text" th:field="*{score}">
				</div>
				<label class="col-sm-2 control-label">次序：</label>
				<div class="col-sm-2">
					<input id="seq" name="seq" class="form-control" type="number" min="1" max="20" th:field="*{seq}">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">试题类型名称描述：</label>
				<div class="col-sm-8">
					<textarea id="descpt" name="descpt" class="form-control" rows="3" th:field="*{descpt}"></textarea>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">状态：</label>
				<div class="col-sm-8">
					<div class="radio-box" th:each="dict : ${@dict.getType('sys_normal_disable')}">
						<input type="radio" th:id="${dict.dictCode}" name="status" th:value="${dict.dictValue}" th:field="*{status}">
						<label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
					</div>
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "oex/paperQtype"
		$("#form-paperQtype-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-paperQtype-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
